<div class="container">
  <div class="row">
    <div class="col-7 answer-nav-left">
      <nz-tabset>
        <nz-tab nzTitle="全部">
          Content of Tab Pane 1
        </nz-tab>
        <nz-tab nzTitle="评论">
          Content of Tab Pane 2
        </nz-tab>
        <nz-tab nzTitle="未解决">
          Content of Tab Pane 3
        </nz-tab>
        <nz-tab nzTitle="问答">
          Content of Tab Pane 3
        </nz-tab>
        <nz-tab nzTitle="精华">
          Content of Tab Pane 3
        </nz-tab>
      </nz-tabset>
    </div>
    <div class="col-5 answer-nav-right">
      <button mat-raised-button color="primary">我要发布</button>
    </div>
  </div>
</div>
