<mat-card (mouseenter)="toggleState()" (mouseleave)="toggleState()">
  <img mat-card-image [src]="freecourse.picturepath">
  <mat-card-content>
    <p class="free-course-name" [title]="freecourse.coursename"><a [@courseState]="state">{{freecourse.coursename}}</a></p>
    <p class="center">
      <!--<span>实战</span>-->
      <span>{{freecourse.coursedifficulty}}</span>
      <mat-icon svgIcon="person-outline"></mat-icon>
      <span>{{freecourse.coursetailnum}}</span>
      <!--<app-course-star></app-course-star>-->
    </p>
    <p class="free-course-summaru">{{freecourse.coursesummary}}</p>
  </mat-card-content>
</mat-card>
