<mat-drawer-container class="video-box" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="video-sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon svgIcon="library-book">menu</mat-icon>
    </button>
  </div>

</mat-drawer-container>
