.video-box {
  width: 100%;
  height: 70%;

  background: #FF9900;
}

.video-content {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.video-content-left {
  height: 100%;
  width: 95%;
  background-color: greenyellow;
}

.video-content-right {
  height: 100%;
  width: 5%;
  background: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
