<div class="bg-white">
  <div class="container">
    <div class="course-direction-box">
      <div>
        <span class="type">方向</span>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item" *ngFor="let direction of course_direction">
            <a class="nav-link" href="#">{{direction}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="course-direction-box">
      <div>
        <span class="type">分类</span>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item" *ngFor="let direction of course_type">
            <a class="nav-link" href="#">{{direction}}</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="course-direction-box">
      <div>
        <span class="type">难度</span>
      </div>
      <div>
        <ul class="nav">
          <li class="nav-item" *ngFor="let difficult of course_difficult">
            <a class="nav-link" href="#">{{difficult}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container">
    <div class="course-tool-box">
      <div>
        <mat-chip-list>
          <mat-chip [class.active]="maxNew" color="primary" (click)="getAllNewCourse()">最新</mat-chip>
          <mat-chip [class.active]="maxHot" color="primary" (click)="getAllHotCourses()">最热</mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <span style="color: #ff0000;">{{current}}</span>/{{allCurrent}}
        <mat-icon svgIcon="navigate-before" class="material-icons" (click)="nextOrPer(-1)"></mat-icon>
        <mat-icon svgIcon="navigate-next" class="material-icons" (click)="nextOrPer(1)"></mat-icon>
      </div>
    </div>
    <div class="row" *ngIf="courses">
      <div class="col-3" *ngFor="let course of courses.content">
        <app-course-list [course]="course"></app-course-list>
      </div>
    </div>
    <div class="page-box">
      <div class="row" *ngIf="courses">
        <div class="col-12">
          <div class="button-row">
            <button mat-button (click)="choicePage(1)">首页</button>
            <button *ngIf="current == 1" mat-button (click)="nextOrPer(-1)" disabled>上一页</button>
            <button *ngIf="current != 1" mat-button (click)="nextOrPer(-1)">上一页</button>
            <button class="page-current"
                    mat-button mat-mini-fab
                    color="primary"
                    *ngFor="let page of currentIndex"
                    (click)="choicePage(page)" [class.active]="page === current">{{page}}</button>
            <button *ngIf="current != courses.totalPages + 1" mat-button (click)="nextOrPer(1)">下一页</button>
            <button *ngIf="current == courses.totalPages + 1" mat-button (click)="nextOrPer(1)" disabled>下一页</button>
            <button mat-button (click)="choicePage(courses.totalPages + 1)">尾页</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

