<div class="bg-dark footer-box">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">企业合作</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">人才招聘</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">联系我们</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">讲师招募</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">常见问题</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">意见反馈</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">慕课大学</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">友情链接</a>
      </li>
    </ul>
  </div>
</div>

